.newdeck-editor-box-outer {
    grid-column-start: 2;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
}

.newdeck-editor-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 60px;
    border: 1px solid var(--detailColor);
    border-radius: 10px;
}

/* This .deck-info */
.newdeck-editor-box form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newdeck-editor-box textarea {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    resize: none;
    border-radius: 10px;
    text-align: center;
    font-size: small;
}

.cardview {
    height: 100%;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.deck-page {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1190px) {
    .deck-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cardview {

    }


}

/* ===== Card ===== */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 13px;
    /* padding: 16px */
}