#flash-messages {
    position: fixed;
    top: 10px;
    background-color: transparent;
}

.flash {
    position: relative;
    width: fit-content;
    align-self: center;
    margin-top: 20px;
    padding: 20px 30px;
    border: 0.5px solid var(--detailColor);
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(60, 60, 60);
}

.fade-out {
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    right: -10px;
    border: 0.5px solid var(--detailColor);
    padding: 4px 6px;
    border-radius: 50px;
}

.close-button:hover {
    background-color: rgba(60, 60, 60);
}

.close-button i {
    font-size: smaller;
    background-color: transparent;
}