/* 
    File: play_card.css

    Everything related to the cards appearance when playing a deck

    Related files:
    - 
*/

.play-card-text {
    text-align: center;
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
}

.play-card-container {
    display: flex;
    width: 400px;
    
}

.play-card-actions {
    margin-bottom: 30px;
}