.register-page {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.register-page .box {
    width: 500px;
    height: 80vh;
    justify-content: space-evenly;
}

.register-page h2 {
    font-size: xx-large;
    font-weight: 400;
}

/* .login {
    display: flex;
    justify-content: center;
    width: 80%;
} */

.register-page .sign-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 60%;

}

.sign-form input[type=text], input[type=password] {
    border: 0.5px solid var(--detailColor);
    width: auto;
    margin-bottom: 20px;
    padding: 10px;
    resize: none;
    border-radius: 10px;
}

#login-now a {
    text-decoration: underline;
}