@import 'flash.css';
@import 'navbar.css';
@import 'card.css';
@import 'deck.css';
@import 'login.css';
@import 'register.css';
@import 'generate.css';

/* Get inter font */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    --backgroundColor: #ffffff;
    --detailColor: #151515;
    --accentColor: #40798C;
    --navHeight: 10vh;
    font-family: 'Inter';
    color: var(--detailColor);
    background-color: var(--backgroundColor);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--detailColor);
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-top: var(--navHeight);
}

.button, .secondary-button {
	background: none;
	color: inherit;
	padding: 10px 20px;
    margin: 10px 10px;
	border: 1px solid var(--detailColor);
    border-radius: 10px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background-color: var(--backgroundColor);
}

.secondary-button {
    border: 0.5px solid var(--detailColor);
}

.button:hover, .secondary-button:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

.button:focus, .secondary-button:focus {
    background-color: rgba(128, 128, 128, 0.1);
}


.box {
    width: 60%;
    height: 60vh;
    padding: 20px 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--detailColor);
    border-radius: 10px;
    overflow-y: auto;   /* Make it scroll */
}

/* Main body */
body {
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Content */
.content {
    width: 70%;
    /* Set top margin to height of navbar */
    height: calc(100vh - var(--navHeight));
    margin-top: var(--navHeight);
    display: flex;
    flex-direction: column;
}

/* Deck view */
#deckviewer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
}

/* ----- New deck editor ----- */
.newdeck-editor {
    position: relative;
    width: 80%;
    height: 80vh;
    padding: 20px 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--detailColor);
    border-radius: 10px;
    overflow: hidden;   /* Make it scroll */
}

.deck-info {
    width: 60%;
    height: 60%;
    padding: 0px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#deck-name {
    text-align: center;
    height: 2em;
    font-size: x-large;
    border: none;
    border-bottom: 1px solid var(--detailColor);

}

#deck-description {
    width: auto;
    height: 200px;
    padding: 10px;
    resize: none;
    border-radius: 10px;
}

.deck-actions {
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.delete-btn {
   border: 2px solid #A8201A;
    font-weight: 500;
}

.generate-btn {
    border: 1px solid #709255;
}

.cardview {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px
}

.edit-button {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 7px;
    border: 1px solid var(--detailColor);
    border-radius: 20px;
    background-color: var(--backgroundColor);
}

/* ----- New card editor ----- */
.card-editor {
    min-width: 60%;
    height: 60vh;
    padding: 20px 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--detailColor);
    border-radius: 10px;
    overflow-y: auto;   /* Make it scroll */
}

/* .card-editor form {
    width: 60%;
    height: 100%;
    padding: 0px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.card-editor h2 {
    font-weight: 500;
    text-align: center;
}

.card-editor textarea {
    width: 80%;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px;
    resize: none;
    border-radius: 10px;
}


.close-view-button {
    position: absolute;
    top: -20px;
    left: 20px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border: 1px solid var(--detailColor);
    border-radius: 50px;
    background-color: var(--backgroundColor);
}