<!-- 
    This file is the base layout that will serve as a template
    for all other layouts.
-->

<!DOCTYPE html>
<head>
  <title>{% block title %}{% endblock %} - Flashcards</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <!-- To get the Inter font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <!-- Include pencil icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="https://kit.fontawesome.com/8e25a9fa30.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav id="navbar">
    <h1>Flashcards</h1>
    <div class="navigation">
      <ul>
        <li><a href="#">Register</a></li>
        <li><a href="#">Log In</a></li>
      </ul>
    </div>
  </nav>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
  </section>
  <ul id="flash-messages">
    {% for message in get_flashed_messages() %}
      <li class="flash">{{ message }}
        <a class="close-button"><i class="fa fa-times" aria-hidden="true"></i></a>
      </li>
    {% endfor %}
  </ul>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const closeButtons = document.querySelectorAll('.close-button');
      closeButtons.forEach(function(button) {
        button.addEventListener('click', function() {
          this.parentNode.style.display = 'none';
        });
      });
    });
  </script>
</body>