{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="login-page">
    <div class="box">
      <h2>Log In</h2>
        <form class="sign-form" method="post" action="{{ url_for('auth.login') }}">
          {{ form.hidden_tag() }}
          <label for="username">Username</label>
          {{ form.username }}
          <label for="password">Password</label>
          {{ form.password }}
          {{ form.submit(class_='button') }}
        </form>
      <div id="register-now">
        <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Register here</a></p>
      </div>
    </div>
  </div>
{% endblock %}