{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="register-page">
    <div class="box">
      <h2>Register</h2>
        <form class="sign-form" method="post" action="{{ url_for('auth.register') }}">
          {{ form.hidden_tag() }}
          <label for="username">Username</label>
          {{ form.username }}
          <label for="email">Email</label>
          {{ form.email }}
          <br>
          <label for="password">Password</label>
          {{ form.password }}
          <label for="confirm_password">Confirm Password</label>
          {{ form.confirm_password }}
          {{ form.submit(class_='button') }}
        </form>
      <div id="login-now">
        <p>Already have an account? <a href="{{ url_for('auth.login') }}">Sign in here</a></p>
      </div>
    </div>
  </div>
{% endblock %}