{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}New deck{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="newdeck-editor">
    <!-- Edit current information -->
    <form method="post" action="{{ url_for('decks.deck_save', deck_id=deck.id) }}" class="deck-info">
        <input type="hidden" name="id" value="{{deck.id}}">
        <input type="text" name="name" id="deck-name" placeholder="Name" value="{{ deck.name }}">
        <textarea name="description" id="deck-description" placeholder="Add a description...">{{ deck.description }}</textarea>
        <div class="deck-actions">
          <a href="{{ url_for('decks.deck_delete', deck_id=deck.id) }}" class="button delete-btn">Delete</a>
          <a href="#" class="button generate-btn" onclick="submitGenerateForm()">Generate</a>
          <button type="submit" name="action" value="save-deck" class="btn button">Save</button>
        </div>
    </form>

    <div class="cardview">
      <h2>Cards</h2>
      <ul class="cards">
        <!-- Add new card -->
        <a class="card-link" href="{{ url_for('decks.card_editor', deck_id=deck.id) }}">
          <div class="card add-card">
            <div class="plus-symbol">+</div>
          </div>
        </a>
        <!-- Show all cards -->
        {% for card in cards: %}
          <li class="card">
            <div class="card-inner">
              <div class="card-front">
                <p class="card-title">Question</p>
                <p class="card-text">{{ card.question }}</p>
              </div>
              <div class="card-back">
                <p class="card-title">Answer</p>
                <p class="card-text">{{ card.answer }}</p>
              </div>
            </div>
            <a class="edit-button" href="{{ url_for('decks.card_editor', card_id=card.id, deck_id=deck.id) }}">
              <i class="fas fa-pencil-alt"></i>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- To make the card rotate on press -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const cards = document.querySelectorAll('.card');

      cards.forEach(function(card) {
          card.addEventListener('click', function() {
              this.classList.toggle('is-flipped'); // Use 'this' to refer to the clicked card
          });
      });
    });

    function submitGenerateForm() {
      var form = document.querySelector('.deck-info');
      form.action = "{{ url_for('decks.cards_from_desc', deck_id=deck.id) }}";
      form.submit();
    }
  </script>
{% endblock %}