{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}New deck{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="newdeck-editor">
    <!-- Edit current information -->
    <form method="post" action="{{ url_for('decks.deck_save', deck_id=deck.id) }}" class="deck-info">
        <input type="hidden" name="id" value="{{deck.get('id')}}">
        <input type="text" name="name" id="deck-name" placeholder="Name" value="{{ deck.get('name', '') }}">
        <textarea name="description" id="deck-description" placeholder="Add a description...">{{ deck.get('description') }}</textarea>
        <div class="deck-actions">
          <a href="{{ url_for('decks.deck_delete', deck_id=deck.id) }}" class="btn delete-btn">Delete</a>
          <button type="submit" name="action" value="save-deck" class="btn">Save</button>
        </div>
    </form>

    <div class="cardview">
      <h2>Cards</h2>
      <ul class="cards">
        <!-- Add new card -->
        <a class="card-link" href="{{ url_for('decks.card_editor', deck_id=deck.id) }}">
          <div class="card add-card">
            <div class="plus-symbol">+</div>
          </div>
        </a>
        <!-- Show all cards -->
        {% for card in cards: %}
        <a class="card-link" href="{{ url_for('decks.card_editor', deck_id=deck.id, card_id=card.id) }}">
          <li class="card">
            <div class="front">
              <p>{{card.front}}</p>
            </div>
            <div class="back">
              <p><p>{{card.back}}</p></p>
            </div>
          </li>
        </a>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}