{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Decks{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div id="deckviewer">
    <!-- Add new deck -->
    <a href="{{ url_for('decks.deck_editor') }}">
      <div class="deck-box" id="add-deck">
        <div class="plus-symbol">+</div>
      </div>
    </a>
    {% for deck in decks: %}
      <a class="deck-link" href="{{ url_for('decks.deck_editor', deck_id=deck.id )}}">
        <div class="deck deck-box">
          <h4 class="deck-name">{{ deck['name'] }}</h4>
          <p class="deck-description">{{ deck['description'] }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}