{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Decks{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div id="deckviewer">
    <!-- Add new deck -->
    <a href="{{ url_for('decks.deck_editor') }}">
      <div class="deck-box" id="add-deck">
        <div class="plus-symbol">+</div>
      </div>
    </a>
    <div class="deck-box">
      <form action="{{ url_for('decks.deck_from_text') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
      </form>
    </div>
    {% for deck in decks: %}
    <div class="deck-box">
      <a class="deck-link" href="{{ url_for('decks.init_play_all', deck_id=deck.id) }}">
        <h4 class="deck-name">{{ deck['name'] }}</h4>
        <p class="deck-description">{{ deck['description'] }}</p>
      </a>
      <a class="edit-card" href="{{ url_for('decks.deck_editor', deck_id=deck.id) }}">
        <i class="fas fa-pencil-alt"></i>
      </a>
      <div class="play-deck-buttons">
        <a href="{{ url_for('decks.init_play_all', deck_id=deck.id) }}" class="button">Practice</a>
        <a href="{{ url_for('decks.init_play_all', deck_id=deck.id) }}" class="button">Play All</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}